@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
body{
    font-family: 'rubik burned';
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color: #1A759F;
    --secondary-color: #168AAD;
    --accent1-color: #99D98C;
    --accent2-color: #76C893;

    --heading-font: #184E77, serif;
    --paragraph-font: #184E77, serif;

    --nav-background-color: #34A0A4;
    --nav-link-color: #184E77;
    --nav-hover-link-color: #184E77;
    --nav-hover-background-color: #34A0A4;

}

body{
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
