@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Concert+One&family=Protest+Riot&family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Concert One";
    font-size: 1.2em;
    color: rgb(59, 59, 59);
    background: #fff;
}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-size: 1.7em;
    color: rgb(77, 6, 143); 
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #949393;
    border-radius: .5rem;
    background-color:  rgb(226, 209, 241);
    display: grid;
}

button, select, textarea {
    font-family: "Concert One";
    color: rgb(59, 59, 59);
}

input, select, textarea {
    padding: .3rem;
   font-size: 1.1rem;
}

label {
    padding: .5rem;
}

button {
    margin: 1rem;
    background-color: rgb(77, 6, 143);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    
}

footer {
    margin: 1rem auto 0;
    width: 500px;
    text-align: center;
    font-size: 0.8em;
    color: rgb(73, 72, 72);
    border-top: 1px solid rgb(156, 154, 154);
}

